In [1]:
import tarfile
import os
if not os.path.exists("imdb"):
    tar = tarfile.open("aclImdb_v1.tar.gz")
    tar.extractall("imdb")
    tar.close()

In [8]:
import glob
import pandas as pd

base = "imdb/aclImdb/train/"

postxt = []
pos = glob.glob(base + "pos/*.txt")
for p in pos:
    with open(p, "r", encoding="utf-8") as f:
        postxt.append(f.read())

negtxt = []
neg = glob.glob(base + "neg/*.txt")
for n in neg:
    with open(n, "r", encoding="utf-8") as f:
        negtxt.append(f.read())
        
train = pd.DataFrame({
    "content":postxt + negtxt,
    "sentiment":[1] * len(postxt) + [0] * len(negtxt)
})
train

                                                 content  sentiment
0      Bromwell High is a cartoon comedy. It ran at t...          1
1      Homelessness (or Houselessness as George Carli...          1
2      Brilliant over-acting by Lesley Ann Warren. Be...          1
3      This is easily the most underrated film inn th...          1
4      This is not the typical Mel Brooks film. It wa...          1
...                                                  ...        ...
24995  Towards the end of the movie, I felt it was to...          0
24996  This is the kind of movie that my enemies cont...          0
24997  I saw 'Descent' last night at the Stockholm Fi...          0
24998  Some films that you pick up for a pound turn o...          0
24999  This is one of the dumbest films, I've ever se...          0

[25000 rows x 2 columns]

In [9]:

base = "imdb/aclImdb/test/"

postxt = []
pos = glob.glob(base + "pos/*.txt")
for p in pos:
    with open(p, "r", encoding="utf-8") as f:
        postxt.append(f.read())

negtxt = []
neg = glob.glob(base + "neg/*.txt")
for n in neg:
    with open(n, "r", encoding="utf-8") as f:
        negtxt.append(f.read())
        
test = pd.DataFrame({
    "content":postxt + negtxt,
    "sentiment":[1] * len(postxt) + [0] * len(negtxt)
})
test

                                                 content  sentiment
0      I went and saw this movie last night after bei...          1
1      Actor turned director Bill Paxton follows up h...          1
2      As a recreational golfer with some knowledge o...          1
3      I saw this film in a sneak preview, and it is ...          1
4      Bill Paxton has taken the true story of the 19...          1
...                                                  ...        ...
24995  I occasionally let my kids watch this garbage ...          0
24996  When all we have anymore is pretty much realit...          0
24997  The basic genre is a thriller intercut with an...          0
24998  Four things intrigued me as to this film - fir...          0
24999  David Bryce's comments nearby are exceptionall...          0

[25000 rows x 2 columns]