In [4]:
import glob
import pandas as pd
catf = glob.glob("train/train/cat.*.jpg")
catans = [0] * len(catf)
dogf = glob.glob("train/train/dog.*.jpg")
dogans = [1] * len(dogf)
df = pd.DataFrame({
    "path":catf + dogf,
    "ans":catans + dogans
})
df

                           path  ans
0         train/train\cat.0.jpg    0
1         train/train\cat.1.jpg    0
2        train/train\cat.10.jpg    0
3       train/train\cat.100.jpg    0
4      train/train\cat.1000.jpg    0
...                         ...  ...
24995  train/train\dog.9995.jpg    1
24996  train/train\dog.9996.jpg    1
24997  train/train\dog.9997.jpg    1
24998  train/train\dog.9998.jpg    1
24999  train/train\dog.9999.jpg    1

[25000 rows x 2 columns]

In [ ]:
from keras.applications.vgg16 import VGG16
vgg = VGG16(include_top=False)
vgg.summary()

WARNING:tensorflow:From C:\Users\User\PycharmProjects\MLDemo\venv\lib\site-packages\keras\backend\tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\User\PycharmProjects\MLDemo\venv\lib\site-packages\keras\backend\tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From C:\Users\User\PycharmProjects\MLDemo\venv\lib\site-packages\keras\backend\tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From C:\Users\User\PycharmProjects\MLDemo\venv\lib\site-packages\keras\backend\tensorflow_backend.py:4267: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

Downloading data from https://github.com/fchollet/deep-learning-models/releases/download/v0.1/vgg16_weights_tf_dim_ordering_tf_kernels_notop.h5
12328960/58889256 [=====>........................] - ETA: 1:06